**/.classpath
**/.settings
**/.project
**/.factorypath
**/.apt_generated
**/pom.xml.versionsBackup
/*/mobile/target
/*/target
/app/*/target
/app/*/*/target
/*/**/.gitignore

.idea/
**/*.iml

**/gwt-unitCache
**/.gwt

**/ibm-web-ext.xml
!doc/**/ibm-web-ext.xml

**/*.log
**/*.log.*

/FriendServer/.apt_generated
/FriendServer/log
/FriendServer/build
/FriendServer/install
/FriendServer/!

/gwt/war
/gwt-formlogin/war

/install/

/*.conf

*.wsdl.err
/target/
